# =============================== DATABASE URL ===============================
DATABASE_URL=

# =============================== API ENDPOINT ===============================
VERCEL_URL=
NEXT_PUBLIC_API_ENDPOINT=
NEXT_PUBLIC_PROD_API_ENDPOINT=

# ================================= IMAGEKIT =================================
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=

# ============================ SESSION - 7 DAYS IN SECONDS ============================
SESSION_EXPIRATION_TIME=
SESSION_SECRET=

# =============================== RAZORPAY ===============================
NEXT_PUBLIC_RAZORPAY_KEY_ID=
RAZORPAY_SECRET_ID=
RAZORPAY_WEBHOOK_SECRET=

# ============================== RESEND API KEY =================================
RESEND_API_KEY=

# =============================== NGROK ===============================
NGROK_AUTH_TOKEN=

# =============================== MAPBOX ===============================
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=

# ======================== MOJOAUTH (EMAIL AUTHENTICATION) ========================
MOJOAUTH_CLIENT_ID=
MOJOAUTH_CLIENT_SECRET=
MOJOAUTH_ISSUER=
MOJOAUTH_REDIRECT_URL=